  {% include "polls/../../../../Forum/forumapp/templates/import.html" %}
    {% if request.user.is_authenticated %}

    <a href="{% url 'forumapp:topic' categories.pk %}">Create Post</a>
        <a  style="display: inline-block" href="{% url 'forumapp:updatecat' categories.pk%}">Update Category </a>
        <a  style="display: inline-block" href="{% url 'forumapp:deletecat' categories.pk%}">Delete Category </a>
        <a  style="display: inline-block" href="{% url 'forumapp:comment'%}">Comment Category </a>
    {% endif %}
    <h2>{{ categories.cat_name }}</h2>
    <p>  <br/><br/>

    </p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% for choice in categories.topics_set.all %}
        {{ choice.topic_subject }} {{ choice.topic_date }}<br/>
        {% for choice2 in request.user.ldap_user.comments_set.all %}
             <h3>{{ choice2.comment }} {{ choice2.user.user_name }}</h3>



        {% endfor %}

        <br/><br/>
    {% endfor %}



    </form>


 {% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}
