<title>EgemSoft Blog</title>

<body style="background-color: gray">
<div align="center">

    {% if request.user.is_authenticated %}


        <a  style="display: inline-block" href="{% url 'forumapp:index' %}">Home Page   </a> || <a style="display: inline-block" href="{% url 'forumapp:categories' %}">   Create Category</a>   <div align="right"><a href="accounts/logout">Hi {{ request.user.username }}    Log Out </a></div>



    {% else %}
        <a href="accounts/login">log in </a>


    {% endif %}



