 {% include "polls/../../../../Forum/forumapp/templates/import.html" %}


<div style="color: #009FC1">
    <h1 xmlns="http://www.w3.org/1999/html" style="font-family: Verdana">Welcome  My Blog </h1>
    <h2>Lets Begin </h2>
</div></br></br>


{% if latest_categories_list %}
    <ul>
    {% for category in latest_categories_list %}
        <h2>Category Name       :<a href="/{{ category.id }}/">    {{ category.cat_name }}</a></h2></br><br/>
                Category Description: {{ category.cat_description }}<br/><br/>
                 Category Date: {{ category.pub_date }}<br/>

        {% if category.topics_set.all%}
        <h3>{{ category.cat_name }}  Posts </h3>
        {% for choice in category.topics_set.all %}
            <li>{{ choice.topic_subject }}</li>


        {% endfor %}</br></br>
        {% else %}
            No Post Posted</br></br>
        {%endif%}

    {% endfor %}
    </ul>

{% else %}

    <p>No Categories Posted Yet.</p>
{% endif %}


 {% include "polls/../../../../Forum/forumapp/templates/downPage.html" %}